# Certificates
docker/certs/
*.crt
*.key

# cicd
docker/cicd.sh

# Terraform
terraform/environments/*/.terraform/*
terraform/environments/*/*.tfstate
terraform/environments/*/*.tfstate.*
terraform/environments/*/*.tfvars
terraform/environments/*/.terraform.lock.hcl
terraform/environments/*/terraform*
terraform/environments/prd/terraform.tfstate


# Logs
*.log

# OS specific
.DS_Store
Thumbs.db

# Local env files
.env
*.env