# Certificates
docker/certs/
*.crt
*.key

# cicd
docker/cicd.sh

# Terraform
terraform/enbironments/*/.terraform/*
terraform/enbironments/*/*.tfstate
terraform/enbironments/*/*.tfstate.*
terraform/enbironments/*/*.tfvars
terraform/enbironments/*/.terraform.lock.hcl


# Logs
*.log

# OS specific
.DS_Store
Thumbs.db

# Local env files
.env
*.env